## Import Data into Python

#### Agenda

In this module, we will learn to:

- read data from delimited/flat files
- read data from excel files
- read data from statistical softwares

#### Libraries

In [1]:
import pandas as pd

#### Comma Separated Values

In [2]:
pd.read_csv("data/mtcars.csv")

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

##### Specify Delimiter

In [3]:
pd.read_table("data/mtcars.csv", sep = ",")

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

##### Column Names

In [4]:
pd.read_csv("data/mtcars1.csv", header = None)

      0   1      2    3     4      5      6   7   8   9   10
0   21.0   6  160.0  110  3.90  2.620  16.46   0   1   4   4
1   21.0   6  160.0  110  3.90  2.875  17.02   0   1   4   4
2   22.8   4  108.0   93  3.85  2.320  18.61   1   1   4   1
3   21.4   6  258.0  110  3.08  3.215  19.44   1   0   3   1
4   18.7   8  360.0  175  3.15  3.440  17.02   0   0   3   2
5   18.1   6  225.0  105  2.76  3.460  20.22   1   0   3   1
6   14.3   8  360.0  245  3.21  3.570  15.84   0   0   3   4
7   24.4   4  146.7   62  3.69  3.190  20.00   1   0   4   2
8   22.8   4  140.8   95  3.92  3.150  22.90   1   0   4   2
9   19.2   6  167.6  123  3.92  3.440  18.30   1   0   4   4
10  17.8   6  167.6  123  3.92  3.440  18.90   1   0   4   4
11  16.4   8  275.8  180  3.07  4.070  17.40   0   0   3   3
12  17.3   8  275.8  180  3.07  3.730  17.60   0   0   3   3
13  15.2   8  275.8  180  3.07  3.780  18.00   0   0   3   3
14  10.4   8  472.0  205  2.93  5.250  17.98   0   0   3   4
15  10.4   8  460.0  215  3.00  5.424  17.82   0   0   3   4
16  14.7   8  440.0  230  3.23  5.345  17.42   0   0   3   4
17  32.4   4   78.7   66  4.08  2.200  19.47   1   1   4   1
18  30.4   4   75.7   52  4.93  1.615  18.52   1   1   4   2
19  33.9   4   71.1   65  4.22  1.835  19.90   1   1   4   1
20  21.5   4  120.1   97  3.70  2.465  20.01   1   0   3   1
21  15.5   8  318.0  150  2.76  3.520  16.87   0   0   3   2
22  15.2   8  304.0  150  3.15  3.435  17.30   0   0   3   2
23  13.3   8  350.0  245  3.73  3.840  15.41   0   0   3   4
24  19.2   8  400.0  175  3.08  3.845  17.05   0   0   3   2
25  27.3   4   79.0   66  4.08  1.935  18.90   1   1   4   1
26  26.0   4  120.3   91  4.43  2.140  16.70   0   1   5   2
27  30.4   4   95.1  113  3.77  1.513  16.90   1   1   5   2
28  15.8   8  351.0  264  4.22  3.170  14.50   0   1   5   4
29  19.7   6  145.0  175  3.62  2.770  15.50   0   1   5   6
30  15.0   8  301.0  335  3.54  3.570  14.60   0   1   5   8
31  21.4   4  121.0  109  4.11  2.780  18.60   1   1   4   2

##### Skip Rows

In [6]:
pd.read_csv("data/mtcars2.csv", skiprows = 19)

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
20  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
21  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
22  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
23  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
24  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
25  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
26  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
27  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
28  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
29  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
30  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
31  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

##### Maximum Rows

In [7]:
pd.read_csv("data/mtcars.csv", nrows = 20)

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2   22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
5   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
6   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
7   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
8   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
9   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
10  17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
11  16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
12  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
13  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
14  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
15  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
16  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
17  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
18  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
19  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1

#### Excel Files

In [14]:
pd.read_excel("data/sample.xls", sheet_name = 0)

          channel  users  new_users  sessions bounce_rate
0  Organic Search  43296      40238     50810      48.72%
1          Direct  12916      12311     16419      49.27%
2        Referral  10983       7636     18105      22.26%
3          Social  10346      10029     11101      61.92%
4         Display   5564       4790      7220      83.30%
5     Paid Search   2687       2205      3438      38.02%
6      Affiliates   1773       1585      2167      55.75%

##### Read Specific Columns

In [17]:
pd.read_excel("data/sample.xls", sheet_name = 0, usecols = "A:C")

          channel  users  new_users
0  Organic Search  43296      40238
1          Direct  12916      12311
2        Referral  10983       7636
3          Social  10346      10029
4         Display   5564       4790
5     Paid Search   2687       2205
6      Affiliates   1773       1585

#### Statistical Softwares

##### SAS

In [18]:
pd.read_sas("data/airline.sas7bdat")

           YEAR          Y      W       R      L      K
0   1948.000714   1.214000  0.243  0.1454  1.415  0.612
1   1949.000713   1.354000  0.260  0.2181  1.384  0.559
2   1950.000123   1.569000  0.278  0.3157  1.388  0.573
3   1951.000036   1.948000  0.297  0.3940  1.550  0.564
4   1952.000009   2.265000  0.310  0.3559  1.802  0.574
5   1953.000215   2.731000  0.322  0.3593  1.926  0.711
6   1954.000001   3.025000  0.335  0.4025  1.964  0.776
7   1955.000055   3.562000  0.350  0.3961  2.116  0.827
8   1956.000059   3.979000  0.361  0.3822  2.435  0.800
9   1957.000028   4.420000  0.379  0.3045  2.707  0.921
10  1958.000688   4.563000  0.391  0.3284  2.706  1.067
11  1959.000410   5.385000  0.426  0.3856  2.846  1.083
12  1960.000006   5.554000  0.441  0.3193  3.089  1.481
13  1961.000006   5.465000  0.460  0.3079  3.122  1.736
14  1962.000139   5.825000  0.485  0.3783  3.184  1.926
15  1963.000000   6.876000  0.506  0.4180  3.263  2.041
16  1964.000028   7.823000  0.538  0.5163  3.412  1.997
17  1965.000009   9.120000  0.564  0.5879  3.623  2.257
18  1966.000150  10.512000  0.586  0.5369  4.074  2.742
19  1967.000017  13.020000  0.622  0.4443  4.710  3.564
20  1968.000421  15.261000  0.666  0.3052  5.217  4.767
21  1969.000002  16.313000  0.731  0.2332  5.569  6.511
22  1970.000000  16.002001  0.831  0.1883  5.495  7.627
23  1971.000166  15.876000  0.906  0.2023  5.334  8.673
24  1972.000101  16.662001  1.000  0.2506  5.345  8.331
25  1973.000033  17.014000  1.056  0.2668  5.662  8.557
26  1974.000000  19.305000  1.131  0.2664  5.729  9.508
27  1975.000009  18.721001  1.247  0.2301  5.722  9.062
28  1976.000177  19.250000  1.375  0.3452  5.762  8.262
29  1977.000002  20.646999  1.544  0.4508  5.877  7.474
30  1978.000002  22.726000  1.703  0.5877  6.108  7.104
31  1979.000017  23.618999  1.779  0.5346  6.852  6.874

##### STATA

In [19]:
pd.read_stata("data/airline.dta")

    year          y      w       r      l      k
0   1948   1.214000  0.243  0.1454  1.415  0.612
1   1949   1.354000  0.260  0.2181  1.384  0.559
2   1950   1.569000  0.278  0.3157  1.388  0.573
3   1951   1.948000  0.297  0.3940  1.550  0.564
4   1952   2.265000  0.310  0.3559  1.802  0.574
5   1953   2.731000  0.322  0.3593  1.926  0.711
6   1954   3.025000  0.335  0.4025  1.964  0.776
7   1955   3.562000  0.350  0.3961  2.116  0.827
8   1956   3.979000  0.361  0.3822  2.435  0.800
9   1957   4.420000  0.379  0.3045  2.707  0.921
10  1958   4.563000  0.391  0.3284  2.706  1.067
11  1959   5.385000  0.426  0.3856  2.846  1.083
12  1960   5.554000  0.441  0.3193  3.089  1.481
13  1961   5.465000  0.460  0.3079  3.122  1.736
14  1962   5.825000  0.485  0.3783  3.184  1.926
15  1963   6.876000  0.506  0.4180  3.263  2.041
16  1964   7.823000  0.538  0.5163  3.412  1.997
17  1965   9.120000  0.564  0.5879  3.623  2.257
18  1966  10.512000  0.586  0.5369  4.074  2.742
19  1967  13.020000  0.622  0.4443  4.710  3.564
20  1968  15.261000  0.666  0.3052  5.217  4.767
21  1969  16.313000  0.731  0.2332  5.569  6.511
22  1970  16.002001  0.831  0.1883  5.495  7.627
23  1971  15.876000  0.906  0.2023  5.334  8.673
24  1972  16.662001  1.000  0.2506  5.345  8.331
25  1973  17.014000  1.056  0.2668  5.662  8.557
26  1974  19.305000  1.131  0.2664  5.729  9.508
27  1975  18.721001  1.247  0.2301  5.722  9.062
28  1976  19.250000  1.375  0.3452  5.762  8.262
29  1977  20.646999  1.544  0.4508  5.877  7.474
30  1978  22.726000  1.703  0.5877  6.108  7.104
31  1979  23.618999  1.779  0.5346  6.852  6.874

#### Summary

- use read_csv for flat/delimited files
- use read_excel for excel files
- use read_sas for SAS files
- use read_stat for STATA files